<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="author" content="Chart.js">
  <title>Histogram</title>
</head>

<body>

<style type="text/css">
  .chartBox {
    width: 80%;
    margin: auto;
  }
</style>

<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>

<div class="chartBox">
  <canvas id="myChart"></canvas>
</div>

<script>
const x_vals = [0.5, 1.5, 2.5, 3.5, 4.5, 5.5, 6.5, 7.5, 8.5];
const y_vals = [5, 8, 24, 16, 32, 42, 30, 17, 11];
const data = x_vals.map((k, i) => ({x: k, y: y_vals[i]}));

const backgroundColor = Array(x_vals.length).fill('rgba(255, 99, 132, 0.2)');
const borderColor = Array(x_vals.length).fill('rgba(255, 99, 132, 1)');

const backgroundColor[parseInt(x_vals.length / 2)] = 'rgba(54, 162, 235, 0.2)';
const borderColor[parseInt(x_vals.length / 2)] = 'rgba(54, 162, 235, 1)';

const ctx = document.getElementById('myChart').getContext('2d');
const myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        datasets: [{
            label: 'Num of Visitors',
            data: data,
            backgroundColor: backgroundColor,
            borderColor: borderColor,
            borderWidth: 1,
            barPercentage: 1,
            categoryPercentage: 1,
            borderRadius: 5,
        }]
    },
    options: {
        scales: {
            x: {
                type: 'linear',
                offset: false,
                grid: {
                  offset: false
                },
                ticks: {
                  stepSize: 1
                },
                title: {
                  display: true,
                  text: 'Hours',
                  font: {
                      size: 14
                  }
                }
            },
            y: {
                // beginAtZero: true
                title: {
                  display: true,
                  text: 'Visitors',
                  font: {
                      size: 14
                  }
                }
            }
        },
        plugins: {
          legend: {
              display: false,
            },
          tooltip: {
            callbacks: {
              title: (items) => {
                if (!items.length) {
                  return '';
                }
                const item = items[0];
                const x = item.parsed.x;
                const min = x - 0.5;
                const max = x + 0.5;
                return `Hours: ${min} - ${max}`;
              }
            }
          }
        }
    }
});
</script>

</body>
</html>